.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 75px;

    .links {
        .menu-icon {
            display: none;
        }

        ul {
            display: flex;

            li {
                display: flex;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: black;
                    margin: 15px;
                }
            }
        }

        .input {

            input {
                margin: 10px;
            }

            button {
                margin: 10px;
            }
        }

    }
}


@media (max-width:576px) {
    .navbar {
        .links {
            ul {
                display: none;
            }

            .menu-icon {
                display: block;
                font-size: 35px;
            }
        }

        .input {

            input {
                padding: 11px;
                border-radius: 8px;
            }

            button {
                background: rgb(142, 142, 173);
                border-radius: 8px;
            }

            .icon {
                margin: 10px;
                font-size: 17px;
            }
        }
    }


}